<!DOCTYPE html>
<html lang="ru">
<head>
		<meta charset="utf-8">
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
		<meta name="viewport" content="width=device-width, initital-scale=1.0">
		
		<title>my bootstrap3 spi</title>
		//= includes/head.html

		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

		

</head>
<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">PR<i class="fa fa-circle"></i>GER</a>
				</div>	
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#">Домой</a></li>
							<li><a href="#">Про нас</a></li>
							<li><a href="#">Сервисы</a></li>
							<li><a href="#">Работы</a></li>
							<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
						</ul>
					</div>	
			</div>			
		</div>		
		
		<div class="headerwrap" id="">
			<div class="container">
				<div class="row centered">
					<div class="col-lg-8 col-lg-offset-2">
						<h1>Bootstrap is awesome!</h1>
						<h2>Сайты на Bootstrap отличные</h2>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container w">
			<div class="row centered">
				<br><br>
				<div class="col-lg-4">
					<i class="fa fa-heart"></i>
					<h4>Дизайн</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid est nihil perferendis, id dolor! Impedit quae at, eum laboriosam numquam voluptatum omnis vitae asperiores officia expedita odit placeat repudiandae reiciendis!</p>
				</div>

				<div class="col-lg-4">
					<i class="fa fa-laptop"></i>
					<h4>Исследования</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid est nihil perferendis, id dolor! Impedit quae at, eum laboriosam numquam voluptatum omnis vitae asperiores officia expedita odit placeat repudiandae reiciendis!</p>
				</div>

				<div class="col-lg-4">
					<i class="fa fa-trophy"></i>
					<h4>Достижения</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid est nihil perferendis, id dolor! Impedit quae at, eum laboriosam numquam voluptatum omnis vitae asperiores officia expedita odit placeat repudiandae reiciendis!</p>
				</div>
			</div>
			<br><br>
		</div>
			<div class="dg">
					<div class="container">
						<div class="row centered">
							<h4>Последние работы</h4>
							<br>
							<div class="col-lg-4">
								<div class="tilt">
									<a href="#"> <img src="../img/p01.png" alt="app1"></a>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="tilt">
									<a href="#"> <img src="../img/p02.png" alt="app1"></a>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="tilt">
									<a href="#"> <img src="../img/p03.png" alt="app1"></a>
								</div>
							</div>

						</div>	
					</div>
			</div>	
			
			<div class="container wb">
				<div class="row centered">
					<br><br>
					<div class="col-lg-8 col-lg-offset-2">
						<h4>Мы Создаем Приложения</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestias laboriosam odio amet corporis dolor nesciunt iusto aperiam velit delectus officiis possimus quidem, eligendi! Fuga nihil temporibus, adipisci eaque hic!</p>
						<p><br><br></p>
					</div>
					<div class="col-lg-2"></div>
					<div class="col-lg-10 col-lg-offset-1">
						<img src="../img/laptop.png" alt="" class="img-responsive">
					</div>
				</div>
			</div>	

			<div class="lg">
				<div class="container">
					<div class="row centered">
						<h4>Партнеры</h4>
						<div class="col-lg-2 col-lg-offset-1">
							<img src="../img/c01.gif" alt="">
						</div>
						<div class="col-lg-2">
							<img src="../img/c02.gif" alt="">
						</div>
						<div class="col-lg-2">
							<img src="../img/c03.gif" alt="">
						</div>
						<div class="col-lg-2">
							<img src="../img/c04.gif" alt="">
						</div>
						<div class="col-lg-2">
							<img src="../img/c05.gif" alt="">
						</div>
					</div>
				</div>
			</div>

		<div class="redblock">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h4>Разработка и продвижение сайтов на профессиональном уровне</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsam sint sapiente nulla excepturi nostrum fugit, cum totam sunt ab iusto architecto voluptatibus reiciendis quia saepe recusandae vitae voluptatum similique?</p>
					</div>
				</div>
			</div>		
		</div>	

		<div class="footer">
			<div class="container">
				<div class="row centered">
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="../js/bootstrap.min.js"></script>
</body>
</html>